<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: beige;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5vh;
      flex-wrap: wrap;
    }
    li {
      width: 70vh;
      list-style-type: none;
      font-size: 4vh;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>abilities</title>
</head>
<body>
  <ul>
    <% abilities.forEach(abilitieObj => { %>
      <li>
        <h4><%= abilitieObj.name %></h4>
        <p><%= abilitieObj.abilityEffect %></p>
      </li>
      
    <% }); %>
  </ul>
</body>
</html>