<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Space Grotesk');
    body{ 
      font-family: 'Space Grotesk', sans-serif;
      background-color: black;
     text-align: center;
    }

img{
  height: 500px;
  width: 700px;
};
 
  </style>
</head>
<body>
  <img src="<%= imgSrc %>" alt="Pasta Image"/>
</body>
</html>
