<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            background-color: #eaf9ea;
         border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         padding: 20px;
        margin: 10px;
         max-width: 400px;
         font-size: 18px;
         color: #333;
        }
    </style>
</head>
<body>
    <h1><%= singleJoke %></h1>
</body>
</html>